{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>La liste des conferences</h1>
<table border="1">
    {% if user.is_authenticated and user.role == "committee" %}
    <a href="{% url 'conference_add' %}">Add</a>
    {% endif %}
    <tr>
        <td>Title</td>
        <td>Theme</td>
        <td>Date de conference</td>
        <td>Actions</td>
    </tr>
    {% for c in liste %}
    <tr>
        <td>{{c.name}}</td>
        <td>{{c.theme}}</td>
        <td>{{c.date_debut}} - {{c.date_fin}}</td>
        <td><a href="{% url 'conference_detail' c.pk %}">Details</a>
        {% if user.is_authenticated and user.role == "committee" %}
        <a href="{% url 'conference_update' c.pk %}">Update</a>
        <a href="{% url 'conference_delete' c.pk %}">Delete</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}